{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %} - {% trans "Home Appliances" %}{% endblock %}

{% block content %}
{% trans "Login" as page_title %}
{% include 'includes/page_header.html' %}

<div class="container-fluid shop py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-5 bg-light rounded p-5 wow fadeInUp">
                <h1 class="mb-4 text-center">{% trans "Login" %}</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary rounded-pill w-100 py-3">{% trans "Login" %}</button>
                </form>
                <p class="mt-3 text-center">{% trans "Don't have an account?" %} <a href="{% url 'accounts:register' %}">{% trans "Register" %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
